<div class="grid">

    <div class="section-header">
      <!-- Replaced with hard coded title <h1 class="section-header--title">{{ page.title }}</h1> -->
      <h1 style= "text-align: center;"> Frequently Asked Questions </h1>
    </div>

    <div class="rte">
      {{ page.content }}
    </div>
</div>
